.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 18vh;
  }

  &__input {
    min-width: 15vw;
    height: 4vh;
    border-radius: 5px;
    background-color: #f8e9e2;
    padding: 0 10px 0 10px;
    font-size: 18px;
  }

  &__span {
    margin-bottom: 1vh;
    font-size: 20px;
    display: block;
  }

  &__submit {
    margin-top: 8vh;
    min-width: 8vw;
    min-height: 6vh;
    font-size: 20px;
    background-color: #e9dbd5;
    border-radius: 8px;
    transition: all 200ms linear;

    &:hover {
      background-color: #c9bdb7;
    }
  }
}